%h3 Hello world!
%hr

- if session.any?
  %br
  %p
    = session[:message]
  %br

%form{ action: "/send_text", method: 'post'}
  %div
    %label{ name: 'text_body'} Text message
    %input{ type: 'text', name: 'text_body', id: 'text_body' }
  %div
    %label{ name: 'text_number'} Number to text
    %input{type: 'text', name: 'text_number', id: 'text_number'}
  %input{ type: 'submit', value: 'Submit' }
