%html
  %head
    %title PLM Coding Challenge
    %link{:crossorigin => "anonymous", :href => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css", :integrity => "sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7", :rel => "stylesheet"}
    %link{ rel: :stylesheet, type: 'text/css', href: 'styles.css'}
  %body
    %div.main
      = yield
